<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gistree.db_con">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="API_URL"
            android:value="http://213.58.234.45:3000/api/" />
        <meta-data
            android:name="Database_Path"
            android:value="/data/data/com.example.gistree.db_con/databases/" />
        <!--
        TODO: Production Code
        <meta-data android:name="Database_Path" android:value="/data/data/com.example.gistee.db_con/databases/"></meta-data>
        -->
        <meta-data
            android:name="Database_Name"
            android:value="testeArvore.db" />

        <activity android:name=".application.activities.cortantes.FormActivity" />
        <activity android:name=".application.activities.CMenuActivity" />
        <activity android:name=".application.activities.cortantes.MultiSpinners" />
        <activity android:name=".application.activities.cortantes.SearchableSpinnerYo" />
        <activity android:name=".application.activities.cortantes.MyRecyclerView" />
        <activity android:name=".application.activities.cortantes.SwipeRecycler" />
        <activity android:name=".application.activities.cortantes.SwipeToShowButton" />
        <activity android:name=".application.activities.cortantes.scrollabletabs.MainScrollableTabs" />
        <activity android:name=".application.activities.cortantes.scrollabletabs.ScrollableInsideFragmentActivity" />
        <activity android:name=".application.activities.cortantes.sweetalert.SweetAlertMain"/>
    </application>

</manifest>